[submodule "publish"]
	path = publish
	url = https://github.com/auyer/auyer.github.io
	branch = master
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
